<div class="max-w-[344px] flex flex-col gap-4">
  <h2 class="font-bold font-size text-sm">Contato</h2>

  <section class="flex flex-col gap-2">
    <app-contact-item icon="location_on" link="https://maps.app.goo.gl/LZb3ue1BzZbpMHXu8" text="R. Padre Manoel da Nobrega, 540 - Parque Alvorada, Araraquara - SP" />

    <app-contact-item icon="mail" link="mailto:administrativo@oficinadasmeninas.org.br" text="administrativo@oficinadasmeninas.org.br" />

    <app-contact-item icon="phone" text="(16) 3322-6232" />

    <app-contact-item icon="schedule" text="Segunda a sexta, das 7h às 16h30" />
  </section>
</div>
