<mat-drawer-container class="min-h-screen">
  <mat-drawer #drawer mode="over" [ngClass]="drawer.opened ? '!z-[51]' : ''">I'm a drawer</mat-drawer>
  <mat-drawer-content></mat-drawer-content>
</mat-drawer-container>

<header class="fixed top-8 md:top-12 left-0 right-0 z-50 flex justify-center">
  <nav
    class="w-fit bg-gray-100 py-2 px-4 rounded-4xl flex items-center justify-between text-[#726F78] gap-12 md:gap-18 text-sm md:shadow-md md:shadow-gray-400 font-medium"
  >
    <div class="md:hidden block"><button matButton="elevated" (click)="drawer.toggle()">Toggle drawer</button></div>

    <div>
      <a routerLink="/">
        <!-- Alterar logo para svg, assim que possivel -->
        <img class="size-10" src="./logo_preenchimento_branco.png" alt="" />
      </a>
    </div>

    <div class="hidden md:block">
      <ul class="flex gap-10 text-center">
        <li><a routerLink="/">Sobre a oficina</a></li>
        <li><a routerLink="/">Eventos</a></li>
        <li><a routerLink="/">Transparência</a></li>
        <li>
          <span class="cursor-pointer pb-2" [matMenuTriggerFor]="helpOptions">Como ajudar?</span>
          <mat-menu #helpOptions="matMenu" yPosition="below" class="text-sm">
            <a routerLink="/" mat-menu-item>Doe sua nota fiscal</a>
            <a routerLink="/" mat-menu-item>Doe seu imposto de renda</a>
            <a routerLink="/" mat-menu-item>Seja um voluntário</a>
          </mat-menu>
        </li>
        <li><a routerLink="/">Seja um padrinho</a></li>
      </ul>
    </div>

    <div>
      <a routerLink="/" matButton="filled" class="text-center">Acessar conta</a>
    </div>
  </nav>
</header>
