<swiper-container
  slides-per-view="2"
  centered-slides="true"
  space-between="30"
  grab-cursor="true"
  mousewheel="true"
  keyboard="true"
  autoplay-delay="2500"
  autoplay-disable-on-interaction="false"
  autoplay-pause-on-mouse-enter="true"
  class="py-10"
>
  @for (slide of slides; track $index) {
  <swiper-slide class="bg-center bg-cover">
    <div class="bg-white p-2 rounded-xl shadow-lg border-4 border-white">
      <img
        [src]="slide"
        class="w-full min-w-[10rem] h-[12rem] object-cover rounded-md"
        alt="Imagem do carrossel"
      />
    </div>
  </swiper-slide>
  }
</swiper-container>
