<footer class="w-full bg-gray-100 z-10 text-xs">
  <div class="flex justify-evenly">
    <div class="flex flex-col gap-4 items-center py-10">
      <img src="./logo_oficina_das_meninas.svg" alt="" class="size-16" />

      <section class="text-[#BA005C] flex gap-8">
        <div>
          <app-instagram-icon />
        </div>

        <div>
          <app-facebook-icon />
        </div>

        <div>
          <app-youtube-icon />
        </div>
      </section>

      <p class="max-w-[318px] text-center">
        O Centro Cultural e Assistencial Oficina das Meninas atende meninas de 6 a 17 anos em situação de
        vulnerabilidade.
      </p>
    </div>

    <div class="max-w-[344px] py-10 flex flex-col gap-4">
      <h2 class="font-bold font-size text-sm">Contato</h2>

      <section class="flex flex-col gap-2">
        <div class="flex">
          <mat-icon fontSet="material-symbols-rounded" color="#BA005C">location_on</mat-icon>
          <p>R. Padre Manoel da Nobrega, 552 – Parque Alvorada, Araraquara – SP</p>
        </div>
        <div class="flex">
          <mat-icon fontSet="material-symbols-rounded" color="#BA005C">mail</mat-icon>
          <p>administrativo@oficinadasmeninas.org.br</p>
        </div>
        <div class="flex">
          <mat-icon fontSet="material-symbols-rounded" color="#BA005C">phone</mat-icon>
          <p>(16) 3322-6232</p>
        </div>
        <div class="flex">
          <mat-icon fontSet="material-symbols-rounded" color="#BA005C">schedule</mat-icon>
          <p>Segunda a sexta, das 7h às 16h30</p>
        </div>
      </section>
    </div>
    <div class="py-10 flex flex-col gap-4">
      <h2 class="font-bold font-size text-sm">Sobre a oficina</h2>

      <ul class="flex flex-col gap-2">
        <li>História</li>
        <li>Eventos</li>
        <li>Parceiros</li>
        <li>Transparência</li>
      </ul>
    </div>
    <div class="py-10 flex flex-col gap-4">
      <h2 class="font-bold font-size text-sm">Conta</h2>

      <ul class="flex flex-col gap-2">
        <li>Acessar conta</li>
        <li>Criar uma conta</li>
      </ul>
    </div>
    <div class="py-10 flex flex-col gap-4">
      <h2 class="font-bold font-size text-sm">Ajuda</h2>

      <ul class="flex flex-col gap-2">
        <li>Como doar sua nota fiscal</li>
        <li>Como doar seu imposto de renda</li>
        <li>Como se tornar um voluntário</li>
      </ul>
    </div>
  </div>
</footer>
