.event-header {
  position: relative;
  overflow: hidden;

  .title {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--new-background-color, transparent);
    background: var(--new-background, transparent);
    background-size: var(--new-background-size, auto);

    opacity: 0;
    transition: opacity 0.2s ease;

    pointer-events: none;
    z-index: 1;
  }

  &.color-extracted {
    .title {
      color: var(--new-text-color);
      text-shadow: var(--new-text-shadow);
      opacity: 1;
      transform: translateY(0);
    }

    &::before {
      opacity: 1;
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }
}


.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
