<div class="toolbar-container">
<mat-drawer-container #drawerContainer>
  <mat-drawer #drawer mode="over" [autoFocus]="false" (closed)="onDrawerClosed()">
    <div class="p-4 bg-white min-h-dvh">
      <a routerLink="/" (click)="closeDrawer()">
        <img
        class="size-30 object-contain ml-3 mt-3"
        src="./logo_preenchimento_branco.png"
        alt="Logo"
      />
      </a>
      <ul
        class="flex flex-col gap-8 mt-10 ml-6 text-lg font-medium text-[#726F78]"
      >
        <li><a routerLink="/sobre" class="link" routerLinkActive="active" (click)="closeDrawer()">Sobre a oficina</a></li>
        <li><a routerLink="/eventos" class="link" (click)="closeDrawer()">Eventos</a></li>
        <li><a routerLink="/transparencia" class="link" (click)="closeDrawer()">Transparência</a></li>
        <li>
          <app-dropdown>
            <span ep-title>Como ajudar?</span>
            <div class="flex flex-col gap-4 mt-2">
              <a routerLink="/faca-sua-doacao">Faça uma doação</a>
              <a routerLink="/doar-nota-fiscal" class="link" (click)="closeDrawer()">Doe sua nota fiscal</a>
              <a routerLink="/" class="link" (click)="closeDrawer()">Doe seu imposto de renda</a>
              <a routerLink="/seja-um-voluntario" class="link" (click)="closeDrawer()">Seja um voluntário</a>
            </div>
          </app-dropdown>
        </li>
        <li><a routerLink="/seja-um-padrinho" class="link" (click)="closeDrawer()">Seja um padrinho</a></li>
      </ul>
    </div>
  </mat-drawer>
</mat-drawer-container>

<header class="fixed top-8 lg:top-12 left-0 right-0 z-50 flex justify-center app-toolbar-theme">
  <nav
    class="glassy mx-3 py-1 px-4 lg:py-2 lg:px-4 rounded-4xl
    grid grid-cols-3 lg:flex items-center lg:justify-between gap-4 lg:gap-18
    text-sm font-medium
    w-[90%] min-w-60 lg:min-w-fit lg:w-fit"
  >
    <div class="lg:hidden flex items-center justify-start">
      <mat-icon class="cursor-pointer" (click)="toggleDrawer()">menu</mat-icon>
    </div>

    <div class="flex justify-center lg:order-none">
      <a routerLink="/">
        <img
          class="lg:size-10 size-14 object-contain max-w-14"
          src="./logo_preenchimento_branco.png"
          alt="Logo"
        />
      </a>
    </div>

    <div class="flex justify-end lg:justify-start lg:order-last">
      <a routerLink="/" matButton="filled" class="text-center">
        <span class="lg:hidden">Entrar</span>
        <span class="hidden lg:inline">Acessar conta</span>
      </a>
    </div>

    <div class="hidden lg:block">
      <ul class="flex gap-10 text-center items-center">
        <li><a routerLink="/sobre" class="link">Sobre a oficina</a></li>
        <li><a routerLink="/eventos" class="link">Eventos</a></li>
        <li><a routerLink="/transparencia" class="link">Transparência</a></li>
        <li>
          <button
            type="button"
            class="cursor-pointer link flex items-center bg-transparent border-none p-0"
            [matMenuTriggerFor]="helpOptions"
            aria-label="Opções de como ajudar"
            >
            Como ajudar?
            <mat-icon>arrow_drop_down</mat-icon>
            </button
          >
          <mat-menu #helpOptions="matMenu" yPosition="below" class="text-sm glassy mdc-menu-panel toolbar-menu">
            <a routerLink="/faca-sua-doacao" mat-menu-item>Faça uma doação</a>
            <a routerLink="/doar-nota-fiscal" mat-menu-item>Doe sua nota fiscal</a>
            <a routerLink="/" mat-menu-item>Doe seu imposto de renda</a>
            <a routerLink="/seja-um-voluntario" mat-menu-item>Seja um voluntário</a>
          </mat-menu>
        </li>
        <li><a routerLink="/seja-um-padrinho" class="link">Seja um padrinho</a></li>
      </ul>
    </div>
  </nav>
</header>
</div>
