@if (isLoading) {
  <div class="w-full h-full flex items-center justify-start gap-2 animate-pulse">
    <div class="w-6 h-6 bg-gray-300 rounded flex-shrink-0"></div>
    <div class="h-4 bg-gray-300 rounded flex-1"></div>
  </div>
} @else if (icon && text) {
  <div class="w-full h-full flex items-center justify-start gap-2 {{ cssClass }}">
    <mat-icon fontSet="material-symbols-rounded" class="!text-[var(--mat-sys-primary)] flex-shrink-0">{{ icon }}</mat-icon>
    <span class="text-left">{{ text }}</span>
  </div>
}
