<mat-form-field appearance="outline" class="w-[9rem] md:w-full md:mt-6 custom-form-field">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [placeholder]="placeholder"
    [min]="min"
    [max]="max"
    [formControl]="formControl!"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (dateChange)="onDateChange($event.value)"
    maxlength="25">
  <mat-datepicker-toggle class="mr-2" matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>